body {
    background-color: ghostwhite;
}

.newClass {
    color: tomato;
}

.register,
.login,
.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid black;
    font-size: 1em;
}

button {
    background-color: tomato;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}
