* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: ghostwhite;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("wp3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    height: 40px;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 0.721);
    text-align: center;
}

a {
    /* text-transform: uppercase; */
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

p {
    padding: 5px 5px 15px 5px;
}

textarea {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 160px;
}

.logo-nav {
    max-width: 50%;
    height: 100px;
    position: static;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-nav img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.welcome {
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    min-width: 550px;
    height: 60%;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.welcome-blocks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.welcome-blocks .title {
    align-self: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form p {
    font-family: "Courier New", Courier, monospace;
}

.welcome-footnote {
    margin-top: auto;
}

.welcome-footnote p {
    padding: 0;
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 250px;
    margin: 10px;
    padding-top: 5px;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid orangered;
    font-size: 1.1em;
    font-family: "Courier New", Courier, monospace;
    outline: none;
}

.app-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.majorError-overlay {
}

.majorError-messge {
}

.header {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0;
    overflow: hidden;
}

.header-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    top: 0;
    right: -50px;
    transition: transform 1s;
}

.header-right:hover {
    transform: translateX(-50px);
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 20px;
}

.header-nav img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}

.logout-icon {
    height: 25px;
}

.nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 7px solid green;
    padding-top: 20px;
}

.nav-element {
    width: 150px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-radius: 10px; */
}

.app-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploader {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.uploader-head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.uploader-body {
    width: 100%;
    height: 100%;
    position: relative;
}
.pane {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.one {
    z-index: 5;
    height: 1px;
    background-color: #fff;
}

.one > button {
    color: red;
}

.two {
    background-color: burlywood;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider {
    top: 1px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: black;
    z-index: 5;
}

.errorGIF {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.main-view {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-information {
    padding-left: 20px;
    width: 400px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#searchFriend {
    background-color: #fff;
    border-radius: 30px;
    width: 70%;
    height: 50px;
    border: 1px solid black;
    font-size: 1.4em;
    padding: 0 30px;
}

.friends {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.friends-list-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    border: 1px solid orangered;
}

.friend {
    width: 120px;
    height: 150px;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.friend-results {
    margin-left: 50px;
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    overflow: hidden;
}

.friend-results-body {
    width: 100%;
    height: 100%;
    margin-right: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.found-friend {
    margin: 10px 0;
    /* padding-right: 10px; */
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    background-color: grey;
    border-radius: 10px;
}

.friend-pic-small {
    width: 40%;
    height: 100%;
    /* margin: 5px; */
    overflow: hidden;
}

.friend-pic-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend-summary {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.other-profile {
    width: 100%;
    height: 100%;
}

.profile-pic-main {
    width: 400px;
    height: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label {
    width: 70%;
    height: 40px;
    overflow: hidden;
    border-bottom: 3px solid orangered;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 0 5px;
    /* border-bottom: 3px solid orangered; */
}

label img {
    width: 30px;
    height: 30px;
}

label span {
    padding-left: 5px;
    overflow: hidden;
}

#file + label {
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;

    display: inline-block;
    cursor: pointer;
}

#file + label * {
    pointer-events: none;
}

.upload-image {
    width: 100%;
    height: 50%;
}

/* new stuff end */

button {
    margin: 10px 0;
    position: relative;
    /* background-color: tomato; */
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    width: 90%;
    min-width: 150px;
    height: 30px;
    overflow: hidden;
}

.error-btn {
    color: red;
}

.newClass {
    color: tomato;
}

.profile-picture {
    object-fit: cover;
}

.profile-picture.small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-picture.large {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.bio {
    position: relative;
    padding: 10px 0;
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-frame {
    width: 650px;
    height: 550px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.user-frame {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.user-header {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.active-users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.active-user {
    margin: 20px 0;
    padding: 10px;
    /* width: 100%; */
    /* height: 100px; */
    /* border: 3px solid red; */
    border-radius: 10px;
}

.selected {
    border: 7px solid green;
}

.active-thumb {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.active-thumb img {
    border-radius: 50%;
}

.active-name {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.user .chat-container {
    width: 100%;
    height: 100%;
}

.messages {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid blue;
}

.message {
    border: 1px solid black;
    margin: 5px;
    /* margin-left: 20px; */
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chat-image {
    width: 100px;
    height: 100px;
}

.chat-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.reply {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    height: 25px;
    width: 25px;
}

.selectedAnswer {
    background-color: green;
    border-radius: 50%;
}

.newMessage {
    width: 100%;
    height: 100%;
}

.chat-input {
    width: 350px;
    height: 75px;
}

.lowTimer {
    color: red;
    font-weight: bold;
    /* animation: lowTimer;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

@keyframes lowTimer {
    from {
        color: transparent;
    }
    to {
        color: red;
    }
}

.spinner {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.spinner img {
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    animation: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Debug classes */

.debug-orange {
    border: 3px solid orange;
}

.debug-blue {
    border: 3px solid blue;
}

.debug-green {
    border: 3px solid green;
}

.debug-black {
    border: 3px solid black;
}

.debug-red {
    border: 3px solid red;
}

.debug-yellow {
    border: 3px solid yellow;
}

.debug-grey {
    border: 3px solid grey;
}

.debug-brown {
    border: 3px solid brown;
}

/*
@media screen and (max-width: 499px) {
    body {
        height: 100vh;
        width: 100vw;
    }

    main {
        width: 100%;
        height: 100%;
    }

    footer {
        height: 40px;
        width: 100%;
        padding: 5px 0;
    }

    p {
        padding: 5px 5px 15px 5px;
    }

    .welcome {
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        min-width: 10px;
        height: 100%;
        min-height: 10px;
    }

    .welcome-blocks {
        height: 100%;
    }

    .welcome-blocks .title {
        align-self: flex-start;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-footnote p {
        padding: 0;
        margin: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 250px;
        margin: 10px;
        padding-top: 5px;
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid orangered;
        font-size: 1.1em;
        font-family: "Courier New", Courier, monospace;
        outline: none;
    }

  

    #file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        width: 150px;
        height: 40px;
        overflow: hidden;
        background-color: tomato;
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        padding: 0 5px;

    }

    label > img {
        width: 40px;
        height: 35px;
    }

    #file + label {
        font-size: 1.1em;
        font-family: Arial, Helvetica, sans-serif;

        display: inline-block;
        cursor: pointer;
    }

    #file + label * {
        pointer-events: none;
    }

    button {
        margin: 10px 0;
        position: relative;

        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        font-size: 1em;
        width: 90%;
        min-width: 150px;
        height: 30px;
        overflow: hidden;
    }

    .profile-picture.small {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .profile-picture.large {
        width: 250px;
        height: 250px;
        border-radius: 15px;
    }

    .bio {
        position: relative;
    }
}

*/
